.mobileView_thumbnail {
  /* --size: 'fit-content'; */
  /* min-height: 85px; */
  /* height: 95px; */
  overflow: hidden;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}

.mobileView_img {
  /* display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
    margin: 0 auto; */
  /*  */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  /* center */
}

.mobileView_content-Col-Parent {
  /* padding:  */

}

.mobileView_img-blurhash {
  height: 100% !important;
  width: 100% !important;
  position: initial !important;
}

.mobileView_sy-Col-Child {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.mobileView_content-ticker {
  position: absolute;
  top: 6px;
  right: 10px;
}
